.holder{
    display: flex;
    flex-direction: column;
}

.wrapper{
    margin-top: 10px;
    min-width: 320px;
}

@media only screen and (min-width: 769px){
    .holder{
        margin-top: 200px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .wrapper{
        flex-direction: row;
        max-width: 1022px;
        min-width: 768px;
        width: 100%;
    }

    .table-holder{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }
}