.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    background: #ffffff;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    padding: 24px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    background: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.image-container{
    min-width: 200px;
    max-width: 200px;
}

.image-container img{
    width: 100%;
    object-fit: cover;
}

.text-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-weight: bold;
}

.user-details{
    text-align: center;
}

.edit-btn{
    text-align: center;
}

.text-container .edit-btn a{
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 1rem;
    background: #000000;
    color: #ffffff;
}

.text-container .edit-btn a:hover{
    background: #ffffff;
    color: #000000;
}

.ad-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    margin-top: 20px;
    padding: 24px;
}

.ad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 15px;
    background: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.ad-topic{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ad-topic h3{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.ad-image{
    max-width: 320px;
    min-width: 300px;
}

.ad-about{
    text-align: justify;
    margin-top: 10px;
    margin-left: 20px;
}

.ad-about h3{
    font-weight: bold;
}

.ad-about p{
    font-size: 1rem;
}


@media only screen and (min-width: 769px){
    .ad-container{
        max-width: 1022px;
        min-width: 768px;
        width: 100%;
    }

    .ad{
        flex-direction: row;
    }

    .ad-topic{
        flex-direction: row;
    }

    .ad-about{
        display: flex;
        flex-direction: column;
    }

}


@media only screen and (min-width: 1100px){
    .main-container{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
    
    .user-info{
        margin-top: 120px;
    }
}