.page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    width: 100%;
    background: #ffffff;
}

.main-container{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 1600px;
    width: 100%;
    margin: 20px 0px;
}

.filterbar{
    display: flex;
    justify-content: space-around;
    background: #FAFAFA;
}

.filter-title{
    display: none;
}

.filter-option{
    margin-bottom: 20px;
}

.filter-option p{
    font-weight: 500;
    font-size: 1.2rem;
}

.filter-option .form-group label{
    font-size: 1rem;
}

.roommates-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.roommates-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.roommate-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roommate-title h3{
    font-weight: bold;
}

.roommate{
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.roommate-image{
    min-width: 300px;
}

.roommate img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.roommate-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roommate-name{
    display: flex;
    flex-direction: column;
}

.roommate-view{
    border: none;
    border-radius: 10px;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    width: 150px;
    padding: 10px;
}

.roommate-view:hover{
    background-color: #ffffff;
    color: #000000;
}

.filter-button button{
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.filter-button button:hover{
    background-color: #ffffff;
    color: #000000;
}

/* Filter price */
.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 5%;
    right: 100%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

@media (min-width: 769px) {
    .page-wrapper{
        flex-direction: row;
        justify-content: center;
    }

    .main-container{
        flex-direction: row;
        justify-content: space-around;
    }

    .filterbar{
        justify-content: flex-start;
        flex-direction: column;
        min-width: 200px;
        max-width: 280px;
        width: 100%;
        padding: 1rem;
    }

    .filter-title{
        display: flex;
        margin-bottom: 20px;
    }

    .filter-option p{
        border-bottom: 2px solid #E5E7EB;
    }

    .filter-title h3{
        font-weight: bold;
    }

    .roommates-container{
        padding: 1rem;
    }

    .roommates-holder{
        align-items: flex-start;
    }

    .roommate-title{
        flex-direction: row;
        justify-content: space-between;
    }

    .roommate{
        max-width: 800px;
        width: 100%;
        border-radius: 10px;
        flex-direction: row;
    }

    .roommate img{
        max-width: 300px;
        height: 250px;
    }

    .roommate-name{
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       margin-bottom: 10px;
       border-bottom: 2px solid #E5E7EB;
    }

    .roommate-name h4{
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .roommate-texts{
        padding: 10px;
        max-width: 700px;
        align-items: flex-start;
        margin-left: 10px;
    }
    
}

