.page-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background: #ffffff;
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 1400px;
    width: 100%;
    margin: 20px 0px;
}

.filterbar{
    display: flex;
    justify-content: space-around;
    background: #FAFAFA;
}

.filter-title{
    display: none;
}

.filter-option{
    margin-bottom: 20px;
}

.filter-option p{
    font-weight: 500;
    font-size: 1.2rem;
}

.filter-option .form-group label{
    font-size: 1rem;
}

.rooms-container{
    max-width: 1200px;
    margin: 0 auto;
}

.rooms-holder{
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
}

.room{
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
}

.room img{
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.room-title{
    display: flex;
    justify-content: space-between;
}

.room-title h4{
    font-weight: bold;
}

.room-btns a{
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.room-btns a:hover{
    background-color: #ffffff;
    color: #000000;
}


@media (min-width: 600px) {
    .rooms-holder {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
    .page-wrapper{
        flex-direction: row;
        justify-content: center;
    }

    .main-container{
        flex-direction: row;
        padding: 24px;
    }

    .filterbar{
        justify-content: flex-start;
        flex-direction: column;
        min-width: 280px;
    }

    .filter-title{
        display: flex;
        margin-bottom: 20px;
    }

    .filter-option p{
        border-bottom: 2px solid #E5E7EB;
    }

    .filter-title h3{
        font-weight: bold;
    }

    .rooms-holder { 
        grid-template-columns: repeat(3, 1fr); 
    }
}