body{
  background-color: #ffffff;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1300px !important;
}

.text-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  padding: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.text-contents h4{
  font-weight: bold;
}

.text-contents p{
  font-weight: 500;
  font-size: 1rem;
}

.room-heading{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-heading h2{
  font-weight: bolder;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.room-heading p{
  font-size: 1rem;
}

.about-room{
  margin-top: 20px;
}

.about-room h3{
  font-weight: bold;
}

.about-room p{
  font-size: 1rem;
  text-align: justify;
}

.ratings-reviews-list{
  display: flex;
  flex-direction: column;
}

.single-review{
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-bottom: 20px;
}

.review{
  font-size: 1rem;
  text-align: justify;
}

.user-info{
  font-size: 1rem;
}

.write-review{
  margin-bottom: 20px;
}

.write-review a{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.write-review a:hover{
  cursor: pointer !important;
}

.carousel-wrapper{
  max-width: 700px;  
}

.carousel {
    position: relative;
}

.carousel-item img {
  object-fit: cover;
}

#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}

#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  }

  .rate:not(:checked) > input {
  position:absolute;
  display: none;
  }

  .rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
  }

  .rate:not(:checked) > label:before {
  content: '★ ';
  }

  .rate > input:checked ~ label {
  color: #ffc700;
  }

  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
  }

  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
  }

  /* .rating-container .form-control:hover, .rating-container .form-control:focus{
  background: #fff;
  border: 1px solid #ced4da;
  }

  .rating-container textarea:focus, .rating-container input:focus {
  color: #000;
  } */

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

@media all and (max-width: 1000px) {
  .text-contents{
    max-width: 700px;
    min-width: 300px;
    width: 100%;
    align-items: flex-start;
  }
}

@media (min-width: 1000px) {
  .wrapper{
    flex-direction: row;
    justify-content: space-around;
  }

  .text-contents{
    align-items: flex-start;
  }

  .room-heading{
    align-items: flex-start;
  }

}